@font-face {
  font-family: Bukeukeu Myeongjo;
  font-weight: 400;
  font-style: normal;
  src: url("../font/BukeukeuMyeongjo-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Bukeukeu Myeongjo;
  font-weight: 700;
  font-style: normal;
  src: url("../font/BukeukeuMyeongjo-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 100;
  font-style: normal;
  src: url("../font/Pretendard-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  font-style: normal;
  src: url("../font/Pretendard-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-style: normal;
  src: url("../font/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-style: normal;
  src: url("../font/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-style: normal;
  src: url("../font/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-style: normal;
  src: url("../font/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  font-style: normal;
  src: url("../font/Pretendard-Black.woff2") format("woff2");
}
<<<<<<< HEAD

@font-face {
  font-family: Neo;
  font-weight: 500;
  font-style: normal;
  src: url("../font/NeoDunggeunmoPro-Regular.woff2") format("woff2");
}
=======
>>>>>>> 54f0d187adfeb0db8f914fde189a7abd8635d626
